<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>This is Add Product Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/aroma-template/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/aroma-template/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/aroma-template/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/aroma-template/vendors/linericon/style.css">
    <link rel="stylesheet" href="/aroma-template/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/aroma-template/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/aroma-template/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/aroma-template/css/style.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body>
<!--================ Start Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">

                        <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>

                        <li class="nav-item" sec:authorize="hasRole('PARTICIPANT')">
                            <a href="/myBids" class="nav-link">My Bids</a></li>

                        <li class="nav-item active" sec:authorize="hasRole('ADMIN')">
                            <a href="/addProduct"class="nav-link">Add Product</a></li>

                        <li class="nav-item" sec:authorize="isAnonymous()">
                            <a class="nav-link"href="/register">Register</a></li>

                    </ul>

                    <ul class="nav-shop" sec:authorize="isAuthenticated()">
                        <li>
                            <p>Hello, <span th:text="${userHeaderDto.firstName}"></span></p>
                        </li>
                        <li class="nav-item"><a class="button button-header" href="/logout">Logout</a></li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
</header>

<div class="mainContainer">
    <form th:action="@{/addProduct}" method="post" th:object="${productDto}" enctype="multipart/form-data">

        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="form-outline mb-4">
            <label class="form-label" for="name">Name</label>
            <input type="text" id="name" class="form-control" th:field="*{name}" th:errorclass="form-field-error"/>

            <p class="error-message"
               th:each="error: ${#fields.errors('name')}"
               th:text="${error}"></p>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="description">Description</label>
            <textarea type="text" id="description" class="form-control" th:field="*{description}"/>
            <p class="error-message"
               th:each="error: ${#fields.errors('description')}"
               th:text="${error}"></p>
        </div>

        <!-- Category input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="category">Category</label>
            <select id="category" class="form-control" th:field="*{category}">
                <option value="">Please choose...</option>
                <option th:each="category : ${T(com.sda.auction.model.ProductCategory).values()}"
                        th:value="${category}"
                        th:text="${#strings.toLowerCase(category)}">
                </option>
            </select>
            <p class="error-message"
               th:each="error: ${#fields.errors('category')}"
               th:text="${error}"></p>
        </div>

        <!-- Starting Price input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="startingPrice">Starting Price</label>
            <input type="number" id="startingPrice" class="form-control" th:field="*{startingPrice}"/>
            <p class="error-message"
               th:each="error: ${#fields.errors('startingPrice')}"
               th:text="${error}"></p>
        </div>

        <!-- Minimum bid step input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="minimumBidStep">Minimum Bid Step</label>
            <input type="number" id="minimumBidStep" class="form-control" th:field="*{minimumBidStep}"/>
            <p class="error-message"
               th:each="error: ${#fields.errors('minimumBidStep')}"
               th:text="${error}"></p>
        </div>

        <!-- start Bidding Time input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="startBiddingTime">Start Bidding Time</label>
            <input type="datetime-local" id="startBiddingTime" class="form-control" th:field="*{startBiddingTime}"/>
            <p class="error-message"
               th:each="error: ${#fields.errors('startBiddingTime')}"
               th:text="${error}"></p>
        </div>

        <!-- End Bidding Time input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="endBiddingTime">End Bidding Time</label>
            <input type="datetime-local" id="endBiddingTime" class="form-control" th:field="*{endBiddingTime}"/>
            <p class="error-message"
               th:each="error: ${#fields.errors('endBiddingTime')}"
               th:text="${error}"></p>
        </div>

        <!-- Image input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="image">Image</label>
            <input type="file" id="image" name="image" class="form-control"/>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Add Product</button>
    </form>
</div>
</body>
</html>
