<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/aroma-template/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/aroma-template/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/aroma-template/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/aroma-template/vendors/linericon/style.css">
    <link rel="stylesheet" href="/aroma-template/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/aroma-template/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/aroma-template/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/aroma-template/css/style.css">
</head>
<body>
I'm home.
</body>
</html>
